<nav>
  <div class="nav-wrapper">
    <ul>
      <li><a href="#" class="brand-logo center">{{title}}</a></li>
    </ul>
  </div>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left hide-on-med-and-down flexbox-container">
      <li><a routerLink="matches" *ngIf="paidStatus"><i class="material-icons">home</i></a></li>
      <li *ngIf="authenticationStatus"><a routerLink="newmatch" >New Match</a></li>
      <li *ngIf="authenticationStatus"><a routerLink="matches" >View All Matches</a></li>
      <li *ngIf="authenticationStatus"><a routerLink="annotate" >Annotate a video</a></li>
      <li *ngIf="authenticationStatus"><a (click)="logout()" id="logOutLink">Log Out</a></li>
    </ul>
  </div>
</nav>
<div class="flexbox-parent">
  <div class="flexbox-child" id="flexbox-child-1">
    <app-one></app-one>
  </div>
  <div class="flexbox-child" id="flexbox-child-2">
    <app-two></app-two>
  </div>
  <div class="flexbox-child" id="flexbox-child-3">
    <app-three></app-three>
  </div>
</div>
<router-outlet></router-outlet>
